#board {
  width: 31em;
  height: 30em;
  position: relative;
  background-color: black;
  top: 30px;
  left: 25%;
}

.box {
  width: 160px;
  height: 160px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-bottom: 4px;
}
.exes {
background-image: url(tic.jpg);
background-size: 100%;
}
.ohs {
background-image: url(tac.jpg);
background-size: 100%;
}

.toe {
  background-image: url(toe.jpeg);
  background-size: 100%;
}